<div class='clearfix mt4 mb4 px2'>
  <h2>What is This?</h2>
  <hr />
  <div class='col col-12 sm-col-8 pr2'>
    <p class='line-height'>
      At <a href='https://sanctuary.computer' target='_blank'>Sanctuary Computer</a>, we
      believe there's a better work environment than the poles of freelancing, or working
      a fulltime job. We think that when talented and creative people
      can see the effects of their skill and ability effect the bottom line, and
      feel true ownership in their work, they will naturally make better decisions for
      clients, the studio, and themselves.
    </p>
    <p class='line-height'>
      There's big impacts for the studio, too! As a company, we're able to offset
      risk by providing greater incentive for reward at the end of the year. We're
      able to lower stress and worry less, knowing that everyone on the team understands
      how our bottom lines work, and has empathy for the ups and downs of businesses.
      <a href='https://medium.com/sanctuary-computer-inc/were-open-sourcing-our-digital-studio-d33b5511bbb7' target='_blank'>
        Transparency is a big thing for us.
      </a>
    </p>
    <p class='line-height'>
      We've always been about making Sanctuary an exciting alternative for creative people,
      and for that reason, we believe a profit share makes for an interesting and exciting
      way forward.
    </p>
    <p class='line-height'>
      <a href='https://github.com/sanctuarycomputer/studio' target='_blank'>
        And of course, all of this code is available on Github.
      </a>
    </p>
  </div>
  <div class='col col-12 sm-col-4'>
    <img class='fit mt2' src='https://cdn-images-1.medium.com/max/1200/1*evFjHUVX9xblQxM8EVqDSA.gif' />
  </div>
</div>

<!-- 1 PSU per Month -->
<!-- Salary Cap @ 90k -->
<!-- Calculated in November & Paid EOY -->
<div class='clearfix mb3 px2'>
  <h2>How it Works</h2>
  <hr />
  <p class='line-height'>
    It's actually a really simple metric, designed to balance studio efficiency against profit.
  </p>
  <div class='brick dont-pad col col-12 sm-col-4 py1 center'>
    <div class='inner p2 border-medium-gray'>
      <h1 class='serif lighter'>1.</h1>
      <h3 class='serif lighter'>Profit Share Units (PSU)</h3>
      <p class='line-height'>
        Teams are more efficient when they work together longer. Therefore, Profit Share
        Units are a bit like vested stocks. A team member earns one per month, (capped after
        four years at 48) and they correspond to a profit share at the end of the year.
      </p>
    </div>
  </div>
  <div class='brick dont-pad col col-12 sm-col-4 py1 center px2'>
    <div class='inner p2 border-medium-gray'>
      <h1 class='serif lighter'>2.</h1>
      <h3 class='serif lighter'>Salary Cap @ 110k USD</h3>
      <p class='line-height'>
        All salaries at Sanctuary Computer are capped to 110k USD. A team member's
        ability to earn a full salary depends on how close they are to seniority,
        in addition to a few other non-technical points.
      </p>
    </div>
  </div>
  <div class='brick col col-12 sm-col-4 py1 center'>
    <div class='inner p2 border-medium-gray'>
      <h1 class='serif lighter'>3.</h1>
      <h3 class='serif lighter'>Paid in Decemeber</h3>
      <p class='line-height'>
        Sanctuary does the profit share calculations in November, to be paid out in
        December. This helps the studio dramatically lower any tax hit, and makes sure
        everyone's profit share hits early in January.
      </p>
    </div>
  </div>
</div>
