<a class='flex items-center my0 mr2' href='http://sanctuary.computer' target='_blank'>
  <img src='images/logo.svg' />
</a>
<div class='flex items-center'>
  <h3 class='serif lighter m0'>Profit Share Calculator</h3>
</div>
