.mobile-metrics {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 15px 1px #2f2f2f;

  .totals {
    margin: auto;
    label {
      text-align: center;
      text-transform: uppercase;
      font-size: 0.6em;
      font-weight: 900;
      letter-spacing: 1px;

      input {
        text-align: center;
        width: 140px;
        outline: none;
        display: block;
        font-size: 2em;
        border: none;
        &[disabled] {
          color: var(--medium-gray);
        }
      }
    }
  }
}
