.ember-notify-default .ember-notify {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
  font-size: 16px;
  line-height: 20px;
  padding: 18px;
  box-shadow: 0 0 4px #eddb3546;

  &.success { background-color: var(--card-background) }
  &.info { background-color: var(--card-background) }
  &.warning { background-color: var(--card-background) }
  &.error { background-color: var(--card-background) }
}

