.nav-bar {
  position: fixed;
  color: #eddb35;
  width: 100%;
  height: 110px;
  z-index: 3;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, #1d1126 80%, #1d1126 100%);

  .title {
    margin-left: auto;
    margin-right: 1em;
    @media (min-width: 40em) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .totals {
    margin-left: auto;
  }
}
