:root {
  --light-gray: #F4F4F4;
  --medium-gray: #C8C8C8;
  --dark-gray: #3B3B3B;
  --dark-navy: #173963;
}

::selection {
  background: var(--dark-navy); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: var(--dark-navy); /* Gecko Browsers */
  color: white;
}

[data-ember-action] {
  cursor: pointer;
  transition: 120ms ease-in-out;
  &:hover { opacity: 0.4; }
}

.brick {
  &:not(.dont-pad) {
    &:nth-child(even) {
      @media (min-width: 40em) {
        padding-right: 0.5rem;
      }
    }
    &:nth-child(odd) {
      @media (min-width: 40em) {
        padding-left: 0.5rem;
      }
    }
  }
  &.active {
    .inner {
      background-color: var(--dark-navy);
      border-color: var(--dark-navy);
      h3, p { color: white; }
    }
  }
}

.technologist {
  h3 {
    font-size: 0.85em;
    @media (min-width: 40em) {
      font-size: 1.1em;
    }
  }
  .months h3, .salary h3 {
    margin: auto;
    @media (min-width: 40em) {
      margin: 0;
    }
  }
  .profit h3 {
    margin-left: auto;
    @media (min-width: 40em) {
      margin-left: 0;
    }
  }
}


// Used for Inline Editing in the Technologists Table
input.inline {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  color: var(--dark-gray);
  font-family: "Atlas Grotesk", sans-serif;
  outline: none;
  background-color: transparent;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: var(--dark-navy);
  width: 100%;
  color: var(--dark-navy);
}

@import 'global/fonts';
@import 'global/colors';
@import 'global/elements';
@import 'global/utils';

@import 'components/nav-bar';
@import 'components/mobile-metrics';

